@page "/Cprestamos"
@inject PrestamosBLL prestamo;

<EditForm Model="prestamo">
    <div class="card">
        <div class="card-header">
            <h3>Consolta de prestamos</h3>
        </div>
        </div>

        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>PrestamosID</th>
                    <th>Fecha</th>
                    <th>Vence</th>
                    <th>PersonaID</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in prestamo.GetList())
                {
                    <tr>
                        <td>@item.PrestamosId</td>
                        <td>@item.fecha</td>
                        <td>@item.vence</td>
                        <td>@item.personaid</td>
                        <td>@item.concepto</td>
                        <td>@item.monto</td>
                        <td>@item.balance</td>
                    </tr>
                }
            </tbody>
        </table>
</EditForm>



